In [1]:
import pandas as pd
import numpy as np

In [4]:
full_df = pd.read_csv('datasets_stats.csv', index_col=0)
full_df.head()

,dataset,n_instances,n_features,n_categorical_features,n_continuous_features,n_classes,imbalance,task,dimensionality,group
316,haberman,306,3,0,3,2.0,0.221453,classification,918,A
365,postoperative_patient_data,88,8,6,0,2.0,0.206612,classification,704,A
399,tae,151,5,0,3,3.0,0.000307,classification,755,A
327,iris,150,4,0,4,3.0,0.000000,classification,600,A
353,mux6,128,6,0,0,2.0,0.000000,classification,768,A

In [6]:
partial_df = pd.read_csv('tools_evaluation.csv')
partial_df.head()

,dataset_name,dataset_nrows,dataset_ncolumns,tpot_score,quick_score,autosklearn_score,tpot_time,quick_time,autosklearn_time
0,haberman,306,3,0.727273,0.792208,0.740260,33.483010,14.707803,115.655687
1,postoperative_patient_data,88,8,0.727273,0.727273,0.636364,19.505441,11.924697,113.459227
2,tae,151,5,0.552632,0.526316,0.526316,32.351226,21.234444,115.830005
3,iris,150,4,1.000000,0.973684,0.947368,33.693358,19.335730,113.843282
4,mux6,128,6,1.000000,0.968750,1.000000,39.103563,18.724937,116.980461

In [15]:
print(f'Dataset original: {full_df.shape}')
print(f'Dataset treinado: {partial_df.shape}')

Dataset original: (42, 10)
Dataset treinado: (31, 9)

## Problema
Para alguns datasets, os mesmos não foram treinados pelas ferramentas, portanto, não há dados disponíveis sobre os mesmos. Por isso, será criado um dataset que apresente os datasets faltantes.

In [13]:
all_datasets = full_df.dataset.values
trained_datasets = partial_df.dataset_name.values

In [22]:
datasets_diff = np.setdiff1d(all_datasets, trained_datasets)

In [26]:
remain_df = full_df[full_df['dataset'].isin(datasets_diff)]

In [27]:
remain_df.to_csv('remain_datasets.csv', index=False)

Obtendo datasets que serão utilizados no paper

In [15]:
datasets_stats_df = pd.read_csv('datasets_stats.csv', index_col=0)
datasets_stats_df.shape

(42, 10)

In [16]:
datasets_stats_df.columns

Index(['dataset', 'n_instances', 'n_features', 'n_categorical_features',
       'n_continuous_features', 'n_classes', 'imbalance', 'task',
       'dimensionality', 'group'],
      dtype='object')

In [17]:
used_columns_datasets_stats = datasets_stats_df[['dataset', 'n_categorical_features', 'n_continuous_features', 'n_classes', 'group']]

In [19]:
used_columns_datasets_stats.to_csv('used_datasets_info.csv', index=True)